<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Effective IT Prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- stylesheets -->
	<link rel="stylesheet" href="css/styles.css"/>
	<link rel="stylesheet" href="css/ui/jquery-ui-1.8.13.custom.css"/>
	<link rel="stylesheet" href="css/elfinder.css">
	<link rel="stylesheet" href="css/Sourcerer-1.2.css"/>
	<link rel="stylesheet" href="css/chosen.css"/>
	<link rel="stylesheet" href="css/uniform.default.css"/>
	<link rel="stylesheet" href="css/data-table.css"/>
	<link rel="stylesheet" href="css/fullcalendar.css"/>
	<link rel="stylesheet" href="css/grid.css"/>
	<link rel="stylesheet" href="css/colorpicker.css"/>
    <link rel="stylesheet" href="css/effectiveIT.css">
   
    <script type="text/javascript" language="javascript" src="effectiveit/effectiveit.nocache.js"></script>
  </head>
  <body>
 	<!-- gwt history support-->
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
    
    <div id="panel-right" class="panel-close">
	   <span class="right-toggle" title="Shortcut">&nbsp;</span>
	   <ul class="shortcut-panel">
	       <li><a href="#" title="Dashboard"><span class="shortcut-icon dboard-x-icon"></span></a></li>
		   <li><a href="#" title="Form"><span class="shortcut-icon frm-x-element"></span></a></li>
		   <li><a href="#" title="Chart"><span class="shortcut-icon chart-x-icon"></span></a></li>
		   <li><a href="#" title="Table"><span class="shortcut-icon tbl-x-icon"></span></a></li>
		   <li><a href="#" title="Gallery"><span class="shortcut-icon gal-x-icon"></span></a></li>
		   <li><a href="#" title="Typography"><span class="shortcut-icon typo-x-icon"></span></a></li>
		   <li><a href="#" title="UI Elements"><span class="shortcut-icon ui-x-elements"></span></a></li>
		   <li><a href="#" title="Calendar"><span class="shortcut-icon calendar-x-icon"></span></a></li>
	   </ul>
    </div>
    <div id="wrapper">
	   <section id="header"></section>
	   <section id="shortcur-bar"></section>
	   <div id="container">
	       <section id="sidebar"></section>
		   <section id="content"></section>			        	  
	</div>
    <section id="footer-wrap"></section>
    
     <!-- Placing at the end of the document so the page load faster -->
    <script src="js/jquery-1.6.2.min.js"></script>
	<script src="js/jquery-ui-1.8.16.custom.js"></script>
	<script src="js/tiny_mce/jquery.tinymce.js"></script>
	<script src="js/chosen.jquery.js"></script>
	<script src="js/jquery.raty.js"></script>
	<script src="js/jquery.uniform.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/fileuploader.js"></script>
	<script src="js/fullcalendar.min.js"></script>
	<script src="js/Sourcerer-1.2.js"></script>
	<script src="js/jquery.tipTip.js"></script>
	<script src="js/jquery.menu.js"></script>
	<script src="js/jquery.accordion.js"></script>
	<script src="js/jquery.collapsible.js"></script>
	<script src="js/jquery.treeview.js"></script>
	<script src="js/elfinder.min.js"></script>
	<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
	<script src="js/jquery.flot.js"></script>
	<script src="js/jquery.flot.pie.js"></script>
	<script type="text/javascript" src="js/colorpicker.js"></script>
	<script type="text/javascript" src="js/eye.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript" src="js/layout.js"></script>
	<script type="text/javascript" src="js/jquery.notify.js"></script>
	<script type="text/javascript" src="js/jquery.simplemodal.js"></script>
	<script type="text/javascript" src="js/jquery.jBreadCrumb.1.1.js"></script>
	<script type="text/javascript" src="js/iphone-style-checkboxes.js"></script>
	<script src="js/custom.script.js"></script>
    
    
  </body>
</html>