#sidebar
  %h1 About me
  %p
    Hi. I'm
    %a{:href => "http://zerply.com/sheferlior", :taget => "_blank"} Lior Shefer
    \.
    %br I'm part of the original team that built
    %a{:href => "https://www.billguard.com"} BillGuard.com
    a people-powered antivirus for bills. I build web applications and love great user experience.
          
  = haml :categories, :layout => false