#logo {
	float: left;
    font-size: 20px;
    height: 58px;
    line-height: 58px;
    padding-left: 20px;
    width: 180px;
}

#shortcur-bar ul li.active a {
	background-position:  -400px -100px;
}

tr.odd {
    background-color: #F9F9F9;
}

tr.even td.sorting_1, tr.odd td.sorting_1 {
	background-color: transparent;
}

.hide {
	display: none;
}