* {
    margin: 0;
    padding: 0;
}

body {
    font: 0.924em "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Georgia, serif;
    line-height: 1.75em;
    color: #313126;
}

header[role=banner] h1,
header[role=banner] h2 {
    margin: 0;
    font-weight: normal;
}

header[role=banner] h1 {
    font-size: 327%;
    text-shadow: 0 2px 5px #dcdbd1;
}

header[role=banner] h2 {
    color: #87877d;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Georgia, serif;
}

h1 {
    margin-top: 0.482em;
    margin-bottom: 0.321em;
    line-height: 1.606em;
    font-size: 218.0%;
    font-weight: normal;
}

h2 {
    margin-top: 1.601em;
    margin-bottom: 0.534em;
    line-height: 1.067em;
    font-size: 164%;
    font-weight: normal;
}

h3 {
    margin-top: 1.81em;
    margin-bottom: 0.603em;
    line-height: 1.207em;
    font-size: 145%;
    font-weight: normal;
}

h4 {
    margin-top: 2.966em;
    margin-bottom: 0em;
    line-height: 1.483em;
    font-size: 118%;
}

ol,
p,
pre,
ul {
    margin: 0;
    margin-bottom: 1.75em;
}

li {
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.75em;
    font-size: 100%;
}

blockquote {
    margin: 1.75em 0;
    padding: 0 1.75em;
    font-style: italic;
    color: #86867b;
}

pre {
    padding: 0.875em 1em;
    overflow: auto;
}

img {
    border: none;
}

nav.breadcrumb {
    margin-top: 1.75em;
    color: #87877d;
    padding: 0.5em 0;
    font-size: 0.909em;
}

article, aside, footer, header, nav, section {
    display: block;
}

div#container {
    width: 54em;
    margin: 0 auto;
    padding: 1em 1em 0 1em;
}

div#container div#content {
    position: relative;
    width: 37em;
    float: left;
    padding: 1px 0;
}

div#container div#sidebar {
    width: 12em;
    margin-left: 40em;
    padding: 0 1em;
}

div#container footer.branding {
    clear: both;
    color: #87877d;
    margin-top: 1.989em;
    margin-bottom: 1.989em;
    line-height: 1.989em;
    font-size: 88%;
}

div#container footer.branding p {
    width: 37em;
    margin: 0;
    padding: 1em 0;
}

a {
    color: #d85700;
    -moz-transition: color 0.25s 0 ease;
    -o-transition: color 0.25s 0 ease;
    -webkit-transition: color 0.25s 0 ease;
    transition: color 0.25s 0 ease;
}

a:visited {
    color: #bf4d00;
}

a:hover {
    color: #ff7d25;
}

a:active {
    color: #722e00;
}

nav.breadcrumb ul {
    margin: 0;
}

nav.breadcrumb li {
    display: inline;
    list-style: none;
}

nav.breadcrumb li::after {
    content: " > ";
}

nav.breadcrumb li:last-child::after {
    content: "";
}

nav.breadcrumb a,
nav.categories a,
div.feed a,
article p.meta a {
    color: #e2a176;
}

nav.breadcrumb:hover a,
nav.categories:hover a,
div.feed:hover a,
article p.meta:hover a {
    color: #d85700;
}

nav.breadcrumb a:hover,
nav.categories a:hover,
div.feed a:hover,
article p.meta a:hover {
    color: #ff7d25;
}

body {
    background: white;
}

article img {
    max-width: 100%;
    margin-bottom: 1.75em;
}

article code,
article pre {
    background-color: #f9f7ef;
    margin-bottom:0;
}

article pre {
    border-left: 1px dashed #d7c28b;
    background-color: #f9f7ef;
    line-height: 1.5;
}

article pre code {
    padding: 0;
}

article footer {
    border-top: 1px dashed #d7c28b;
}

article footer p.meta {
    margin-top: 0.193em;
    margin-bottom: 3.658em;
    line-height: 1.925em;
    font-size: 90.9%;
    font-style: italic;
    color: #87877d;
}

article[role="main"] h1, article[role="main"] h2 {
    text-shadow: 0 2px 5px #dcdbd1;
}

article[role="main"] div#disqus_thread img {
    max-width: none;
}

article[role="main"] div#disqus_thread ul#dsq-comments {
    margin-left: 0;
}

section.pages > ol,
section.articles > ol {
    margin-left: 0;
}

section.pages > ol li,
section.articles > ol li {
    position: relative;
    list-style: none;
}

section.pages > ol article ol li,
section.articles > ol article ol li {
    list-style: decimal;
}

section.pages > ol article ul li,
section.articles > ol article ul li {
    list-style: disc;
}

section.pages header[role=main] h1,
section.articles header[role=main] h1 {
    margin-top: 1.204em;
    margin-bottom: 0.401em;
    line-height: 1.606em;
    font-size: 218.0%;
}

section.pages header h1,
section.articles header h1 {
    margin-top: 1.601em;
    margin-bottom: 0.534em;
    line-height: 1.067em;
    font-size: 164%;
}

section.pages article h1,
section.articles article h1 {
    text-shadow: none;
}

section.pages article h1 a,
section.articles article h1 a {
    text-decoration: none;
}

section.pages article p.read_more,
section.articles article p.read_more {
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.75em;
    font-size: 100%;
    margin-top: -1.75em;
}

section.pages article footer,
section.articles article footer {
    border-top: none;
}

nav.categories h1 {
    margin-top: 3.5em;
    margin-bottom: 0em;
    line-height: 1.75em;
    font-size: 100%;
}

nav.categories ul.menu {
    list-style: none;
}

nav.categories ul.menu ul {
    list-style: disc;
    margin: 0 0 0 1.25em;
}

nav.categories ul.menu > ul {
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1.925em;
    font-size: 90.9%;
}

div.feed {
    margin: 1.75em 0;
}

div#sidebar p {
    color: #87877D;
}


div#sidebar > h1:first-child {
  margin-top: 3.5em;
  margin-bottom: 0em;
  line-height: 1.75em;
  font-size: 100%;
}